@inject NavigationManager NavMan


<div class="card m-2 rounded-3 shadow">
    <div class="d-flex flex-row">

        <div class="blogo d-flex align-items-center col-md img-square-wrapper rounded" style="padding: 0px;">

            <img class="business-logo"
                 style="height: 130px; width: 130px; border-radius: 65px; object-fit: cover; object-position: center; margin: 20px;"
                 src="@thisVoucher.BusinessLogoURL" />
        </div>
        <div class="col-md card-body">
            <h2 class="d-grid card-title" style="max-height: 42px;">
                @thisVoucher.PromoName
                @if (thisVoucher.EndDate is not null)
                {
                    <span class="card-text">Good through @thisVoucher.EndDate.Value.ToString("M/dd/yy")</span>
                }

            </h2>
            <!-- Button trigger modal -->
            @if (showPrice)
            {
                <div class="button mt-15" @onclick="() => GoToDetailsPage(thisVoucher.Id)">
                    <div class="button-wrapper">
                        <div class="text">$@thisVoucher.RetailPrice</div>
                        <span class="icon">
                            View
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public VoucherDTO thisVoucher { get; set; } = new();
    [Parameter]
    public bool showPrice { get; set; } = new();

    public void GoToDetailsPage(int id)
    {
        NavMan.NavigateTo($"/view-voucher/{id}", true);
    }
}