<div class="featured-blogs">
    <div class="section-title">Featured Blogs</div>

    <div class="featured-blogs-container">
        <div class="featured-blogs-post-one">
            <img class="main-image" src="https://images.pexels.com/photos/3840191/pexels-photo-3840191.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="city">
            <div class="main-text">
                <p style="font-size:25px; font-weight:bold;">7 / 20 / 23</p>
                <h2 style="font-size:50px; font-weight:bold;">Meditation and mindfulness.</h2>
                <p>By C.S. Lewis</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="featured-blogs-post-two">
            <img class="main-image" src="https://images.pexels.com/photos/6762426/pexels-photo-6762426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="city">
            <div class="main-text">
                <p style="font-size:25px; font-weight:bold;">7 / 22 / 23</p>
                <h2 style="font-size:50px; font-weight:bold;">Getting Away Part 2.</h2>
                <p>By Frank Herbert</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</div>
