@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotu';
    src: url('Fonts/Gotu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tenor';
    src: url('Fonts/TenorSans-Regular.ttf') format('truetype');
}

body {
    background-color: #fcfcf8;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.featured-blogs {
    background-color: #fcfcf8;
    width: 100vw;
    height: 100vh;
}

.section-title {
    margin-top: 50px;
    font-size: 70px;
    font-family: Tenor;
    text-align: center;
}

.featured-blogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-blogs-post-one {
    width: 900px;
    margin-top: 4%;
    margin-right: 4%;
}

.featured-blogs-post-two {
    width: 900px;
    margin-top: 4%;
    margin-left: 4%;
}

.main-image {
    height: 550px;
    width: 900px;
    object-fit: cover;
    object-position: center;
}

.main-text {
    margin-top:25px;
    font-family: Tenor;
    text-align: center;
}

    .main-text p {
        font-size: 25px;
    }

    .main-text h2 {
        font-size: 50px;
        font-weight: bold;
    }


@media screen and (max-width: 2100px) {
    .main-image {
        height: 427px;
        width: 700px;
        object-fit: cover;
        object-position: center;
    }

    .main-text p {
        margin-top: 15px;
        font-size:20px;
        font-family: Tenor;
        text-align: center;
    }

    .main-text h2 {
        font-size:40px;
        font-weight: bold;
        font-family: Tenor;
        text-align: center;
    }

    .featured-blogs-post-one {
        width: 700px;
        margin-top: 4%;
        margin-right: 4%;
    }

    .featured-blogs-post-two {
        width: 700px;
        margin-top: 4%;
        margin-left: 4%;
    }
}

@media screen and (max-width: 350px) {
    .title .blog-title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 15px;
    }

    .container {
        width: 300px !important;
    }

    .card {
        width: 250px;
    }
}


.btn {
    background: transparent;
    border: 1px solid #141414;
    outline: none;
    padding: 12px 10px;
    height: 60px;
    border-radius: 100px;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    .btn:hover {
        animation: animate-scaleX 3s cubic-bezier(0.1, 0, 0, 0.1);
        background: transparent;
    }

    .btn::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background: black;
        transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1), border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
        width: 100%;
        height: 100%;
        transform: translateY(100%);
    }

    .btn:hover::after {
        transform: translateY(0%);
        border-radius: 0;
    }

    .btn span {
        font-size: 20px;
        font-weight: 500;
        overflow: hidden;
        position: relative;
        color: black;
    }

        .btn span:after {
            width: 100%;
            height: 100%;
            transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1);
            content: attr(data-text);
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50%;
            bottom: 0;
            z-index: 1;
            color: white;
        }

    .btn:hover span:after {
        transform: translate(-50%, 0);
    }

    .btn:focus {
        outline: none;
    }

@keyframes animate-scaleX {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(1);
    }
}
