<div class="banner d-none">
    <div class="content">
        <div class="title">
            All Blogs
        </div>
        <div class="undertitle">
            @* &nbsp&nbsp&nbspConnecting Sanpete<br />entrepreneurs to people. *@
        </div>
    </div>
</div>

<div class="container">

    <div class="card">
        <div class="card-header">
            <img src="https://www.wonderworksonline.com/wp-content/uploads/1970/01/Wind-300x200.jpg" alt="rover" />
        </div>
        <div class="card-body">
            <h4>
                Where does the wind come from?
            </h4>
            <p>
                Do we actually know the answer to this polarizing question?
            </p>
            <div class="user">
                <img src="Images/Ethan.jpg" alt="user" />
                <div class="user-info">
                    <h5>Ethan Enger</h5>
                    <small>2+ Days Ago</small>
                </div>
            </div>
        </div>
    </div>
</div>


@code {

}
