@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotu';
    src: url('Fonts/Gotu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tenor';
    src: url('Fonts/TenorSans-Regular.ttf') format('truetype');
}

body {
    background-color: #fcfcf8;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.featured-blogs {
    background-color: #fcfcf8;
    width: 100vw;
    height: 100vh;
}

.section-title {
    margin-top: 100px;
    font-size: 70px;
    font-family: Tenor;
    text-align: center;
}

.featured-blogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.featured-blogs-post-one {
    width: 900px;
    margin-top: 4%;
    margin-right: 4%;
}

.featured-blogs-post-two {
    width: 900px;
    margin-top: 4%;
    margin-left: 4%;
}

.main-image {
    height: 550px;
    width: 900px;
    object-fit: cover;
    object-position: center;
}

.main-text {
    margin-top:25px;
    font-family: Tenor;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .title .blog-title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 20px;
    }

    .container {
        width: 350px !important;
    }
}

@media screen and (max-width: 350px) {
    .title .blog-title {
        font-size: 30px;
    }

    .subtitle {
        font-size: 15px;
    }

    .container {
        width: 300px !important;
    }

    .card {
        width: 250px;
    }
}
