<div class="featured-blogs">
    <div class="section-title">Featured Blogs</div>
    <a href="https://localhost:7059/read-blog/1">Go To Blog One</a>

    <div class="featured-blogs-container">
        <div class="featured-blogs-post-one">
            <img class="featured-main-image" src="https://images.pexels.com/photos/3840191/pexels-photo-3840191.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="city">
            <div class="main-text">
                <p>7 / 20 / 23</p>
                <h2>Meditation and mindfulness.</h2>
                <p>By C.S. Lewis</p>
                <div class="btn"><span data-text="Read Now">Read Now</span></div>
            </div>
        </div>
        <div class="featured-blogs-post-two">
            <img class="featured-main-image" src="https://images.pexels.com/photos/6762426/pexels-photo-6762426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="city">
            <div class="main-text">
                <p >7 / 22 / 23</p>
                <h2>Getting Away Part 2.</h2>
                <p>By Frank Herbert</p>
                <div class="btn" ><span data-text="Read Now">Read Now</span></div>
            </div>
        </div>
    </div>
</div>
<div class="rest-blogs">
    <div class="blogs-container">
        <div class="blog">
            <img class="blog-main-image" src="https://images.pexels.com/photos/18725144/pexels-photo-18725144/free-photo-of-hand-of-a-woman-picking-up-a-glass-of-coffee-over-an-open-book.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="city">
            <div class="sub-text">
                <p>11/19/2023</p>
                <h2>Quite Mornings Part 4.</h2>
                <h1>Read now</h1>
            </div>
        </div>
        <div class="blog">
            <img class="blog-main-image" src="https://images.pexels.com/photos/11531737/pexels-photo-11531737.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="city">
            <div class="sub-text">
                <p>7/30/2023</p>
                <h2>The many cats in city center.</h2>
                <h1>Read now</h1>
            </div>
        </div>
        <div class="blog">
            <img class="blog-main-image" src="https://images.pexels.com/photos/10147722/pexels-photo-10147722.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="city">
            <div class="sub-text">
                <p>3/01/2023</p>
                <h2>Pro / Cons to waking up early.</h2>
                <h1>Read now</h1>
            </div>
        </div>
        <div class="blog">
            <img class="blog-main-image" src="https://images.pexels.com/photos/2055556/pexels-photo-2055556.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="city">
            <div class="sub-text">
                <p>9/24/2022</p>
                <h2>Guide to a hikers paradise.</h2>
                <h1>Read now</h1>
            </div>
        </div>
        <div class="blog">
            <img class="blog-main-image" src="https://images.pexels.com/photos/1349529/pexels-photo-1349529.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="city">
            <div class="sub-text">
                <p>5/17/2022</p>
                <h2>Pre-season woes continue.</h2>
                <h1>Read now</h1>
            </div>
        </div>
    </div>
</div>
