<div class="banner">
    <div class="content">
        <div class="title">
            Blogs Page
        </div>
        <div class="undertitle">
            @* &nbsp&nbsp&nbspConnecting Sanpete<br />entrepreneurs to people. *@
        </div>
    </div>
</div>


        <MudPaper Class="" Outlined="true" Square="true">
            <div class="d-flex flex-row">
                <img src="https://picsum.photos/200/300" style="width: 30%; max-height: 200px; object-fit: cover; object-position: center;"/>
                <div class="p-5">

                    <h2>this is a title of a blog</h2>
                    <p>This is a short description of the blog.</p>

                </div>
            </div>
        </MudPaper>


<MudPaper Class="" Outlined="true" Square="true">
    <div class="d-flex flex-row">
        <img src="https://picsum.photos/200/300" style="width: 30%; max-height: 200px; object-fit: cover; object-position: center;" />
        <div class="p-5">

            <h2>this is a title of a blog</h2>
            <p>This is a short description of the blog.</p>

        </div>
    </div>
</MudPaper>

@code {

}
