@inject IBusinessService service;

<div class="main-section">
    <div class="section-title">Businesses</div>
</div>

@if (isLoading)
{
    <LoadingComponent></LoadingComponent>
}
else
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="input-group mb-3 pt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-light rounded-left">
                            <img src="Images/MagnifyingGlass.png" alt="Search" style="width: 20px; height: 20px;" />
                        </span>
                    </div>
                    <input type="text" class="form-control rounded-right" placeholder="Search All Businesses" @onchange="@FilterBusinesses" />
                </div>
            </div>
        </div>
    </div>
    <div class="business-container row mx-auto mt-10 pb-8" style="max-width: 1800px;">
        @if (SearchedBusinesses is not null)
        {
            @foreach (var b in SearchedBusinesses)
            {
                <div class="col-lg-3 mt-10">
                    <div class="card h-100 shadow">
                        <div class="logo-container d-flex justify-content-center m-5" style="height: 12rem;">
                            @if (b.LogoURL is null)
                            {
                                <img class="card-img-top rounded-circle "
                                     src="https://i.fbcd.co/products/resized/resized-750-500/b456fb3c430f2ac383cae48c4f8e0c037e0ecaf072d2607320a3252c38fc90de.webp" />
                            }
                            else
                            {
                                <img class="card-img-top rounded-circle "
                                     src="@b.LogoURL" />
                            }
                        </div>

                        <div class="card-body mt-3 mb-15 mt-10">
                            <h2 class="card-text">@b.BusinessName</h2>
                            <p class="card-text">@b.Address</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}


@code {
    public List<BusinessDTO> AllBusinesses { get; set; } = new();
    public List<BusinessDTO> SearchedBusinesses { get; set; } = new();

    public string test { get; set; } = "";
    public bool isLoading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        AllBusinesses = SearchedBusinesses = await service.GetAllBusinesses();
        isLoading = false;
    }

    private void FilterBusinesses(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        string searchString = ((string)args.Value!).ToLower();

        SearchedBusinesses = AllBusinesses.Where(x =>
        {
            return x.BusinessName!.ToLower().Contains(searchString);
        }).ToList();
    }
}
