@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tenor';
    src: url('Fonts/TenorSans-Regular.ttf') format('truetype');
}

body {
    background-color: #fcfcf8;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.section-title {
    /*    margin-top: 50px;*/
    font-size: 70px;
    font-family: Tenor, sans-serif;
    text-align: center;
}

.card:hover{
    cursor: pointer;
}


.card {
    margin-bottom: 20px;
    align-items:center;
    margin:2%;
    transition: transform 0.3s ease;
}

    .card img {
        max-height: 203px !important;
        object-fit: cover;
        object-position: center;
    }

    .card:hover {
        transform: translateY(-10px);
        cursor: pointer;
    }




.card-body {
    text-align: center;
    font-family: Tenor, sans-serif;
}
    .card-body p {
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 20px;
        color: #828181;
    }
    .card-body h2 {
        font-size: 25px;
        font-weight: bold;
    }


