@inject IBusinessService service;

<div class="main-section">
    <div class="section-title">Businesses</div>

    @if (AllBusinesses is not null)
    {
        @foreach (var b in AllBusinesses)
        {
            <div class="m-5 p-5" style="background-color: white;">
                <div class="row">
                    <div class="col-md-3">
                        <img class="img img-fluid" src="https://asset.brandfetch.io/idPvg-ka_0/idKNuyVmpf.jpeg" />
                    </div>
                    <div class="col-md-9">
                        <h2>@b.BusinessName</h2>
                        <p>@b.Address</p>
                        <button class="btn-primary">View Deals</button>
                    </div>
                </div>
            </div>
        }
    }
</div>







@code {
    public List<Business> AllBusinesses { get; set; } = new();

    public string test { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        AllBusinesses = await service.GetAllBusinesses();
    }

}
