@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.full-page {
    background-color: #fcfcf8;
}

a:hover {
    text-decoration: none;
    color: white;
}

.main-section {
    position: relative;
}

.full-screen-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Adjust text color as needed */
}

.title {
    font-size: 60px;
    font-family: Casual, sans-serif;
}

.subtitle {
    font-size: 25px;
}


.business-container {
    color: white;
    background-color: #383B42;
}

.about-us {
    max-width: 650px;
}

    .about-us h2 {
        font-family: Inter-Bold, sans-serif;
        font-size: 2.25rem;
    }

    .about-us h3 {
        font-family: Inter, sans-serif;
        font-size: 1rem;
        width: 75%;
    }

.contact-us {
    max-width: 650px;
}

    .contact-us h2 {
        font-family: Inter-Bold, sans-serif;
        font-size: 2.25rem;
    }

    .contact-us p {
        font-family: Inter, sans-serif;
        font-size: 1rem;
    }

.discover {
    font-family: Inter-Bold, sans-serif;
    font-size: calc(1.25em - 0.1vw);
}


.contact-button {
    width: 200px;
}

    .contact-button h1 {
        font-size: 1rem;
        text-decoration: underline;
    }

.voucher-container {
    color: #3f4a49;
    background-color: #fcfcf8;
}

.voucher-header h2 {
    font-size: 1.5vw !important;
}
.app-header{
    font-size: 1.5vw !important;
}
.lg-view {
    display: inline-block;
}
.sm-view {
    display: none;
    font-size: 4vw !important;
}

.card {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='1' ry='1' stroke='%23333' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border: none !important;
}

.bs-icon {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial", sans-serif;
    transition: background 0.3s;
    margin-left: auto;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper, .text, .icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.text {
    top: 0
}

.text, .icon {
    transition: top 0.5s;
}

.icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .icon svg {
        width: 24px;
        height: 24px;
    }

.button:hover {
    background: #222;
}

    .button:hover .text {
        top: -100%;
    }

    .button:hover .icon {
        top: 0;
    }

    .button:hover:before, .button:hover:after {
        opacity: 1;
        visibility: visible;
    }

    .button:hover:after {
        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
    }

    .button:hover:before {
        bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
    }


.event-container {
    color: #fcfcf8;
    background-color: #fcfcf8;
}

.voucher-header {
    color: black !important;
}

.event-date {

}

    .event-date h2 {
        font-family: Inter-Bold, sans-serif;
        font-size: 3vw;
        width: fit-content;
        transform-origin: bottom center;
    }


.event-details {
    color: #3f4a49 !important;
}

    .event-details h2 {
        font-family: Inter-Bold, sans-serif;
        font-size: 2.5vw
    }
    .event-details h4 {
        font-family: Inter, sans-serif;
        font-size: 1rem;
    }

.event-card {
    background-color: #fff;
    height: 25vh;
}


.carousel-inner {
    padding: 1em;
}


.carousel-control-prev,
.carousel-control-next {
    background-color: #808080;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}


.button2 {
    background-color: #fcfcf8;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

    .button2:hover {
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 black;
    }


.button2:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

.download-button{

}

.playstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: white;
    padding: 1.5rem 3rem;
    text-align: center;
    outline: 0;
    transition: all .2s ease;
    text-decoration: none;
    color: black !important;
}

    .playstore-button:hover {
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 black;
    }

.google-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
}

.text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .playstore-button {
        padding: 0.5rem 1.25rem; /* Adjusted padding for smaller screens */
    }

    .text-1 {
        font-size: 0.65rem; /* Adjusted font size for smaller screens */
    }
    .discover {
        font-size: calc(2.75em - 0.1vw);
        width: 100%;
    }
    .lg-view{
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .playstore-button {
        padding: 0.4rem 1rem; /* Further adjusted padding for even smaller screens */
    }

    .text-1 {
        font-size: 0.5rem; /* Further adjusted font size for even smaller screens */
    }
}


.text-2 {
    font-weight: 600;
}


@media screen and (max-width: 800px){
    .voucher-header h2{
        font-size: 1rem !important;
        width: 75% !important;
    }
    .bs-icon {
        font-size: 8vw !important;
    }

    .bi-calendar4-event {
        font-size: 8vw !important ;
    }
    .lg-view {
        font-size: 2vw;
    }

}



@media screen and (max-width: 600px){
    .event-card {
        height: 15vh;
        max-width: 75vw !important;
    }
    .event-details h2{
        font-size: 3.5vw;
    }
    .event-details h4{
        font-size: .6rem;
    }
    .lg-view {
        display: none;
    }

    .sm-view {
        display: inline-block;
        font-size: 3vw;
    }
}