

<div class="main-section">
    <div class="content">
        <div class="title">
            Welcome to My Sanpete, <br />
            <div class="subtitle">Connecting Sanpete entrepreneurs to people.</div>
        </div>
    </div>
    <img class="full-screen-image" src="Images/Sanpete1.jpg" alt="Image">
</div>


<div class="blog-section">
    <div class="blog-title">
        Check Out Our Latest Blogs
    </div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <img src="https://www.wonderworksonline.com/wp-content/uploads/1970/01/Wind-300x200.jpg" alt="rover" />
            </div>
            <div class="card-body">
                <h4>
                    Where does the wind come from?
                </h4>
                <p>
                    Do we actually know the answer to this polarizing question?
                </p>
                <div class="user">
                    <img src="Images/Ethan.jpg" alt="user" />
                    <div class="user-info">
                        <h5>Ethan Enger</h5>
                        <small>2+ Days Ago</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/uk/advisor/wp-content/uploads/2021/09/wind-unsplash.jpg" alt="ballons" />
            </div>
            <div class="card-body">
                <h4>
                    An answer to the last blog regarding the wind.
                </h4>
                <p>
                    Yes, we actually know where the wind comes from.
                </p>
                <div class="user">
                    <img src="Images/Dusty.jpg" alt="user" />
                    <div class="user-info">
                        <h5>Dusty Shaw</h5>
                        <small>Yesterday</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="https://news.fullerton.edu/app/uploads/2022/11/Debate-Team-800x500.jpg" alt="city" />
            </div>
            <div class="card-body">
                <h4>
                    Debunking the last blog regarding where the wind comes from.
                </h4>
                <p>
                    The big man in the sky the liberals DO NOT want you to know about!
                </p>
                <div class="user">
                    <img src="Images/Parker.jpg" alt="user" />
                    <div class="user-info">
                        <h5>Parker Swenson</h5>
                        <small>2h ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
