@using RazorClassLibrary.DTOs
@using RazorClassLibrary.Data
@using RazorClassLibrary.Services
@inject IVoucherService voucherService
@inject NavigationManager NavMan
@inject IBusinessService businessService


<div class="full-page">

    <div class="main-section">
        <div class="content">
            <div class="title">
                Welcome to My Sanpete, <br />
                <div class="subtitle">Connecting Sanpete entrepreneurs to people.</div>
            </div>
        </div>
        <img class="full-screen-image" src="Images/Sanpete1.jpg" alt="Image">
    </div>

    <!-- Voucher Section -->
    <div class="voucher-container">
        <div class="voucher-header p-5 pb-0 w-100 d-flex justify-content-center">
            <i class="bs-icon bi bi-tags-fill align-self-center m-3 mt-0" style="font-size:80px;"></i>
            <h2 class="w-25">Shop and Save with local discounts to your favorite places to visit in Sanpete County. Purchase vouchers here and download the app to redeem at the counter.</h2>
        </div>
        <div class="mt-5 row pb-15" style="max-width: 1200px; margin-left: auto; margin-right: auto">
            @if (!isLoading)
            {
                @if (allVouchers.Count > 0)
                {
                    @for (int i = 0; i < 4; i++)
                    {

                        <div class="col-md-6 p-3">
                            <div class="card m-2 rounded-3 shadow">
                                <div class="d-flex flex-row">
                                    <div class="col-md img-square-wrapper rounded" style="padding: 0px;">
                                        <img class="business-logo"
                                             style="height: 130px; width: 130px; border-radius: 65px; object-fit: cover; object-position: center; margin: 20px;"
                                             src="@ByteArrayToImage(allVouchers[i].BusinessLogo)" />
                                    </div>
                                    <div class="col-md card-body">
                                        <h2 class="card-title">@allVouchers[i].PromoName</h2>
                                        @if (allVouchers[i].EndDate is not null)
                                        {
                                            <p class="card-text">Good through @allVouchers[i].EndDate</p>
                                        }
                                        <!-- Button trigger modal -->
                                        <div class="button" @* @onclick="() => GoToDetailsPage(voucher.Id)" *@>
                                            <div class="button-wrapper">
                                                <div class="text">View</div>
                                                <span class="icon">
                                                    <svg viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                                                    </svg>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                }
                else
                {
                    <div class="alert alert-info">
                        <p>Sorry, there are no vouchers currently. </p>
                    </div>
                }
            }

        </div>

    </div>

    <div class="divider d-flex justify-content-center" style="background-color:#fcfcf8;">
        <hr class="hr w-75" />
    </div>


    <!-- Events Section -->

    <div class="event-container">
        <div class="voucher-header p-5 pb-0 w-100 d-flex justify-content-center">
            <i class="bi bi-calendar4-event align-self-center m-3 mt-0" style="font-size:80px;"></i>
            <h2 class="w-25">Come and find out all about events happening in Sanpete County. Download our app to find what events are happening soon near you!</h2>
        </div>
        <div class="w-100 mt-10 pb-15 d-flex justify-content-center">
            <div class="event-card row shadow" style="max-width: 1125px; max-height: 360px;">
                <div class="event-date col-md-3 d-flex justify-content-center align-items-center" style="background-image: url(Images/green_wave.svg);">
                    <div class="event-date">
                        <h2>MAY</h2>
                        <h3>01</h3>
                    </div>
                </div>
                <div class="col-md-6" style="color: black">
                    <h3>Title</h3>
                    <h4>Time</h4>
                    <h4>Dasd sf sd fsdf j nkf enk lef nk ef nefni owf eni o'wf enio'</h4>
                </div>
                <div class="col-md-3 d-flex justify-content-end" style="padding-right: 0 !important;">
                    <img src="https://dummyimage.com/250x250/000/fff" />
                </div>
            </div>

        </div>
        <div class="w-100 d-flex justify-content-center m-5 mt-0" >
            <button class="button2 shadow">
                Discover More
            </button>
        </div>
    </div>

    <!-- Business Section -->
    <div class="business-container row justify-content-center">
        <div class="col-md-6 m-5 about-us">
            <h2 class="mb-5">Are you a business in Sanpete?</h2>
            <h3>MySanpete wants to help you and your business thrive! Learn how to collaborate with MySanpete, read our blogs, or listen to our podcasts all about businesses. </h3>
        </div>
        <div class="col-md-6 m-5 contact-us">
            <h2 class="mb-5">Collaborate With MySanpete</h2>
            <div class="row mb-4">
                <div class="col-1">
                    <i class="bi bi-check-square" style="font-size: 40px;" />
                </div>
                <div class="col-11">
                    <p> List your upcoming events through MySanpete</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-1">
                    <i class="bi bi-check-square" style="font-size: 40px;" />
                </div>
                <div class="col-11">
                    <p>Create Coupons and Purchasable vouchers to increase traffic to your business.</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-1">
                    <i class="bi bi-check-square" style="font-size: 40px;" />
                </div>
                <div class="col-11">
                    <p>Keep in touch with content that can help your business stand out.</p>
                </div>
            </div>
            <div class="contact-button d-flex w-100 justify-content-center">
                <div class="btn mt-5 mb-5"><span data-text="Contact">Contact</span></div>
            </div>

        </div>
    </div>
</div>


@code {
    public List<VoucherDTO> allVouchers { get; set; } = new();
    public List<Business> allBusinesses { get; set; }
    public bool isLoading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        allVouchers = await voucherService.GetAllVouchers();
        allVouchers = allVouchers.Where(x => x.EndDate >= DateTime.UtcNow).ToList();
        allBusinesses = await businessService.GetAllBusinesses();
        isLoading = false;
    }


    public string ByteArrayToImage(byte[] array)
    {
        isLoading = true;
        string imageString = Convert.ToBase64String(array);
        isLoading = false;
        return string.Format("data:image/png;base64,{0}", imageString);
    }
}