<div class="banner">
    <div class="content">
        <div class="title">
            Login Page
        </div>
        <div class="undertitle">
            @* &nbsp&nbsp&nbspConnecting Sanpete<br />entrepreneurs to people. *@
        </div>
    </div>
</div>

@code {

}
