@using Microsoft.JSInterop
@using Newtonsoft.Json;
@inject IJSRuntime JSRuntime
@inject IOccasionService occasionService

<div id="mapDiv" style="width:100%;height:100%;"></div>

@code {
    [Parameter] public string MapsKey { get; set; }
    public Occasion[] allOccasions { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {




        var allOccasion = await occasionService.GetAllOcassions();
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeMap", MapsKey, allOccasion);
        }
        


    }

}
