@inject IPodcastService service;

<div class="logo-row d-flex flex-row justify-content-center">
    <div class="mx-5">
        <img class="img-fluid border-rounded logo" style="width: 40px;" src="/Images/Iheart_radio_logo.jpg" />
    </div>
    <div class="mx-5">
        <img class="img-fluid border-rounded logo" style="width: 40px;" src="/Images/iOS_podcast_logo.svg" />
    </div>
    <div class="mx-5">
        <img class="img-fluid border-rounded logo" style="width: 40px;" src="/Images/podbean_logo.png" />
    </div>
    <div class="mx-5">
        <img class="img-fluid border-rounded logo" style="width: 40px;" src="/Images/amazon_music_logo.jpg" />
    </div>
</div>

@if(AllPodcasts is not null)
{
    @foreach (var p in AllPodcasts)
    {
        @if (p.URL is not null)
        {
            <!-- Render the iframe that she copies in from Podbean -->
            <div style="padding: 50px;">
                @((MarkupString)@p.URL)
            </div>
        }
    }
}

@code {
    public List<PodcastDTO> AllPodcasts { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        AllPodcasts = await service.GetAllPodcasts();
    }
}
