button {
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px;
}

    button:hover {
        background-color: white;
        color: black;
        border: black solid 1px;
    }
