@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tenor';
    src: url('Fonts/TenorSans-Regular.ttf') format('truetype');
}

h1, h2, h3 {
    font-family: Casual, 'Sans Serif Collection';
}

button {
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px;
    border: black solid 1px;
}

    button:hover {
        background-color: white;
        color: black;
        border: black solid 1px;
    }

    button:active, button::selection {
        background-color: black;
    }
