
@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tenor';
    src: url('Fonts/TenorSans-Regular.ttf') format('truetype');
}

h1, h2, h3 {
    font-family: Tenor;
}

h2 {
    font-weight: bold;
}

.container {
    height: 90vh;
    width: 100vw;
}

.content {
    margin: auto;
    max-width: 1000px;
    margin-top: 100px;
}
