@inject IOccasionService occasionService;

@if (Occasion is not null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img width="300" src="@Occasion.Photo" b class="img-fluid rounded-circle" />
            </div>
            <div class="col-md-6">
                <h2>@Occasion.Title</h2>
                <p>@Occasion.Description</p>
                <p>Put on by: @Occasion.Business</p>

            </div>
        </div>

    </div>
}
else
{
    <p>The Occasion you are trying to see doens't exist</p>
}

@code {
    [Parameter]
    public int EventId { get; set; }
    public OccasionDTO Event { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Occasion = await occasionService.GetOccasion(EventId);
    }

}
