@inject IOccasionService occasionService;

@if (Event is not null)
{
    <div class="container" style="height: 90vh;">
        <div class="row">
            <div class="col-md-6">
                <img src="@Event.PhotoURL" class="img-fluid m-0 mb-3" />
            </div>
            <div class="col-md-6">
                <h2>@Event.Title</h2>
                <p>@Event.Description</p>
                <p>Hosted by <strong>@Event?.Business?.BusinessName</strong></p>
                <p style="color: gray;">@Event?.StartDate to @Event?.EndDate</p>

            </div>
        </div>

    </div>
}
else
{
    <p>The Occasion you are trying to see doens't exist</p>
}

@code {
    [Parameter]
    public int EventId { get; set; }

    public OccasionDTO Event { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Event = await occasionService.GetOccasion(EventId);
    }
}
