@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}

h2 {
    font-family: Nelphim !important;
}

.banner {
    display: flex;
    background-color: #5EB0BF;
    width: 100%;
    height: 300px;
    padding: 10px 0;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

.content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.title {
    font-size: 50px;
    font-family: 'Segoe UI';
    font-weight: bold;
    margin-bottom: 25px;
}

.undertitle {
    font-size: large;
    font-family: 'Segoe UI';
    padding-left: 65px;
}


@media (max-width: 750px) {
    .content {
        width: 450px;
        margin-left: 25px;
    }
}
