<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">My Sanpete.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content:right;">
        <ul class="navbar-nav float-right text-right pr-3">
            <li class="nav-item" style="text-align:right">
                <a class="nav-link" href="/Businesses" style="text-align:right">Businesses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blogs">Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/podcasts">Podcasts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vouchers">Vouchers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
            </li>
        </ul>
    </div>
</nav>
