@page "/"

<PageTitle>Index</PageTitle>

<div class="banner">
    <div class="content">
        <div class="title">
            My Sanpete
        </div>
        <div class="undertitle">
            &nbsp&nbsp&nbspConnecting Sanpete<br />entrepreneurs to people.
        </div>
    </div>
</div>

<MudContainer Style="Width:400px;">
    <MudCard Style="background-color: #D9D9D9; display:flex; justify-content:center;">
        <MudCardContent>
            <MudText Style="color:black; font-weight:bold;">Photos.</MudText>
        </MudCardContent>
    </MudCard>
</MudContainer>





