@layout MySanpeteMobile.Components.Layout.MainLayout

@page "/"
@using System.Security.Claims

@* <RazorClassLibrary.Pages.Home></RazorClassLibrary.Pages.Home> *@

<div style="position: absolute; top: 700px; left: 40%;">
    <a class="btn btn-primary" href="/my-vouchers">My Vouchers</a><br />
    <a class="btn btn-primary" href="/blogs">My Vouchers</a><br />
    <a class="btn btn-primary" href="businesses">Businesses</a><br />
    <a class="btn btn-primary" href="/events">Events</a><br />
    <a class="btn btn-primary" href="/podcasts">Podcasts</a><br />
</div>