@layout MySanpeteMobile.Components.Layout.MainLayout

@page "/"
@using System.Security.Claims

@* <RazorClassLibrary.Pages.Home></RazorClassLibrary.Pages.Home> *@

<div style="position: absolute; top: 700px; left: 40%;">
    <a class="btn btn-primary" href="/user-vouchers">My Vouchers</a><br />
    <a class="btn btn-primary" href="/events">Events</a><br />
</div>