@layout MySanpeteMobile.Components.Layout.AlternateLayout

@page "/"

<RazorClassLibrary.Pages.Home></RazorClassLibrary.Pages.Home>
@if (MySanpeteMobile.MauiProgram.domain is not null)
{
    <h4>@MySanpeteMobile.MauiProgram.domain</h4>

}
else
{
    <p>ENVIRONMENT VARIABLE PROBLEM?</p>
}