@page "/add-business"
@using RazorClassLibrary.Data
@using RazorClassLibrary.Requests
@using RazorClassLibrary.Services


@inject IBusinessService businessService

<div class="form-container">
    <h3>Admin Add Business</h3>
    <form class="mt-5">
        <div class="form-group mt-5">
            <label for="title">Name</label>
            <input id="title" class="form-control" @bind="InputName" required />
        </div>
        <div class="form-group mt-5">
            <label for="title">Address</label>
            <input id="title" class="form-control" @bind="InputAddress" required/>
        </div>
       @*  <div class="form-group">
            <label for="photo">Logo</label>
        <input id="photo" type="file" @bind="InputLogo" />
        </div> *@
        <button class="btn btn-primary" @onclick="CreateNewBusiness">Submit</button>
    </form>
</div>

@code {
    public AddBusinessRequest? newBusiness = new();

    public string errorMessage = "";

    public string? InputName { get; set; } = "";
    public string? InputAddress { get; set; } = "";
    public byte[]? InputLogo { get; set; } = new byte[1];

    protected override void OnInitialized()
    {

    }

    public AddBusinessRequest CreateRequest()
    {
        AddBusinessRequest newrequest =  new() { Name = InputName, Address = InputAddress, Logo = InputLogo };
        return newrequest;
    }

    public async Task CreateNewBusiness()
    {
        AddBusinessRequest request = CreateRequest();
        try
        {
            if (request != null)
            {
                await businessService.AddBusiness(request);

                // Clear the form
                //request = new AddBusinessRequest();
            }
        }
        catch (Exception ex)
        {
            // Handle errors appropriately
            errorMessage = ex.Message;
        }
    }
}