@layout MySanpeteWeb.Components.Layout.MainLayout
@page "/404"

<div class="w-100 row d-flex justify-content-center" style="height: 100vh">
    <img class="404notfound col-6" src="Images/404notfound.svg" />
    <h1 class="text-center"  style="font-family: Inter-Bold; color: #3f4a49 !important;">Hmmmm... Sorry We Can't Seem to Find The Page You're Looking For</h1>
</div>


