@page "/OrderComplete"

<div class="container">
    <div class="content">
        <h2>Order Complete</h2>
        <p>Got it, thanks!</p>
        <p>Please check your email to see your voucher. Show this at [Business name] to redeem.</p>
    </div>
</div>