
@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}

h2 {
    font-family: Nelphim;
}

p {
    color: #525252;
    font-size: 17px;
    line-height: 1.55;
}

button {
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px;
}

    button:hover {
        background-color: white;
        color: black;
        border: black solid 1px;
    }
