@layout MySanpeteWeb.Components.Layout.AlternateLayout
@page "/events"
@inject IConfiguration config


<div class="main-section">
    <div class="content">
        <div class="title">
            Find Yourself In Sanpete County.
        </div>
    </div>
    <img class="full-screen-image" src="Images/event.jpg" alt="Image">
    <div class="event-container d-flex justify-content-center align-items-center" style="max-width: 100vw; margin-left: auto; margin-right: auto;  background-color:#fcfcf8; justify-content: center; align-items:center;">

        <div class="map-vr-container justify-content-center align-items-center">
            @if (MapsKey is not null)
            {
                <div class="map-container col-3 shadow" style=" padding:0;">
                    <RazorClassLibrary.Pages.Map MapsKey="@MapsKey" />
                </div>
                
            }
        </div>
        <div class="col-3 d-flex justify-content-center align-items-center" style="height:50vh; max-width:7vw; margin-left:11vw;">
            <div class="vertical-rule vr"></div>
        </div>
        <div class="event-container d-grid col mt-10 pb-15 justify-content-center" style="overflow-y:scroll; max-height: 50vh;">
            <div class="event-card row shadow mb-10">
                <div class="event-date col-3 d-flex align-items-center" style="background-image: url(Images/green_wave.svg); background-repeat: repeat-y;">
                    <div class="event-date">
                        <h2>MAY</h2>
                        <h2>24</h2>
                    </div>
                </div>
                <div class="event-details col-6 d-grid align-content-center" style="color: black">
                    <h2>Scandinavian Days</h2>
                    <h4>12PM - 8:30PM</h4>
                    <h4>
                        Come and join for Scandinavia Festivities!
                    </h4>
                </div>
                <div class="col-3 d-flex" style="padding-right: 0 !important; max-height:25vh;">
                    <img src="https://scandinavianfestival.org/wp-content/uploads/2023/03/p3.png" style="width: 100%; object-fit: cover; object-position: center;" />
                </div>
            </div>
            <div class="event-card row shadow mb-10">
                <div class="event-date col-3 d-flex align-items-center" style="background-image: url(Images/green_wave.svg); background-repeat: repeat-y;">
                    <div class="event-date">
                        <h2>MAY</h2>
                        <h2>24</h2>
                    </div>
                </div>
                <div class="event-details col-6 d-grid align-content-center" style="color: black">
                    <h2>Scandinavian Days</h2>
                    <h4>12PM - 8:30PM</h4>
                    <h4>
                        Come and join for Scandinavia Festivities!
                    </h4>
                </div>
                <div class="col-3 d-flex" style="padding-right: 0 !important; max-height:25vh;">
                    <img src="https://scandinavianfestival.org/wp-content/uploads/2023/03/p3.png" style="width: 100%; object-fit: cover; object-position: center;" />
                </div>
            </div>
            <div class="event-card row shadow mb-10">
                <div class="event-date col-3 d-flex align-items-center" style="background-image: url(Images/green_wave.svg); background-repeat: repeat-y;">
                    <div class="event-date">
                        <h2>MAY</h2>
                        <h2>24</h2>
                    </div>
                </div>
                <div class="event-details col-6 d-grid align-content-center" style="color: black">
                    <h2>Scandinavian Days</h2>
                    <h4>12PM - 8:30PM</h4>
                    <h4>
                        Come and join for Scandinavia Festivities!
                    </h4>
                </div>
                <div class="col-3 d-flex" style="padding-right: 0 !important; max-height:25vh;">
                    <img src="https://scandinavianfestival.org/wp-content/uploads/2023/03/p3.png" style="width: 100%; object-fit: cover; object-position: center;" />
                </div>
            </div>
            <div class="event-card row shadow mb-10">
                <div class="event-date col-3 d-flex align-items-center" style="background-image: url(Images/green_wave.svg); background-repeat: repeat-y;">
                    <div class="event-date">
                        <h2>MAY</h2>
                        <h2>24</h2>
                    </div>
                </div>
                <div class="event-details col-6 d-grid align-content-center" style="color: black">
                    <h2>Scandinavian Days</h2>
                    <h4>12PM - 8:30PM</h4>
                    <h4>
                        Come and join for Scandinavia Festivities!
                    </h4>
                </div>
                <div class="col-3 d-flex" style="padding-right: 0 !important; max-height:25vh;">
                    <img src="https://scandinavianfestival.org/wp-content/uploads/2023/03/p3.png" style="width: 100%; object-fit: cover; object-position: center;" />
                </div>
            </div>
        </div>
    </div>
</div>






@code {
    private string? MapsKey;

    protected override void OnInitialized()
    {
        MapsKey = config.GetValue<string>("MapKey") ?? throw new Exception("Map key is not in the secrets");
    }

}