@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tajawal';
    src: url('Fonts/Tajawal-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tenor';
    src: url('Fonts/TenorSans-Regular.ttf') format('truetype');
}
/*justify-content: center;*/ /* Horizontally center */
/*align-items: center;*/ /* Vertically center */

h2 {
    font-family: Nelphim !important;
}

.main-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #fcfcf8;
}

.full-screen-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
}

.content {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    color: white;
}

.title {
    font-size: 60px;
    font-family: Casual;
}

.map-container {
    margin-right: 20px;
}

.map-vr-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
}

.vertical-rule {
    width: 2px;
    margin-left: 100px;
    padding: 0;
    opacity: .50;
}




