@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}


/*justify-content: center;*/ /* Horizontally center */
/*align-items: center;*/ /* Vertically center */


.main-section {
    width: 100%;
    background-color: #fcfcf8;
}

.full-screen-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
}

.content {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    color: white;
}

.title {
    font-size: calc(4em - 0.1vw);
    font-family: Casual;
}

a:hover{
    text-decoration: none;
}

.vl {
    border-left: 2px solid black;
    height: 50vh;
}

.hl {
    border-bottom: 2px solid black;
}

.lg-view {
    display: flex !important;
}

.sm-view {
    display: none !important;
}



.mapp {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.map-vr-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40vh;
}

.map-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
}




/*----------Map Pin Styles Ignore----------*/
.pin {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 50% 0;
    background: #00cae9;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

    .pin:after {
        content: "";
        width: 14px;
        height: 14px;
        margin: 8px 0 0 8px;
        background: #e6e6e6;
        position: absolute;
        border-radius: 50%;
    }

.bounce {
    animation-name: bounce;
    animation-fill-mode: both;
    animation-duration: 1s;
}

.pulse {
    background: #d6d4d4;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    left: 50%;
    top: 50%;
    margin: 11px 0px 0px -12px;
    transform: rotateX(55deg);
    z-index: -2;
}

    .pulse:after {
        content: "";
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: -13px 0 0 -13px;
        animation: pulsate 1s ease-out;
        animation-iteration-count: infinite;
        opacity: 0;
        box-shadow: 0 0 1px 2px #00cae9;
        animation-delay: 1.1s;
    }

@keyframes pulsate {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        opacity: 0;
        transform: translateY(-2000px) rotate(-45deg);
    }

    60% {
        opacity: 1;
        transform: translateY(30px) rotate(-45deg);
    }

    80% {
        transform: translateY(-10px) rotate(-45deg);
    }

    100% {
        transform: translateY(0) rotate(-45deg);
    }
}

.full-page {
    background-color: #fcfcf8;
}

.event-card {
    background-color: #fff;
    height: 17vh;
    width: 35vw;
}

.event-date {
    background-image: url(Images/green_wave.svg);
    background-repeat: repeat-y;
    color: #fcfcf8;
}

    .event-date h2 {
        font-family: Inter-Bold;
        font-size: 2.25vw;
        width: fit-content;
        transform-origin: bottom center;
    }

.event-details {
    color: black;
}

    .event-details h2 {
        font-family: Inter-Bold;
        font-size: 1.5rem;
    }

    .event-details h4 {
        font-family: Inter;
        font-size: 1rem;
    }

@media screen and (max-width: 1200px) 
{
    .lg-view {
        display: none !important;
    }

    .sm-view {
        display: inline-block !important;
    }
    .event-card {
        height: 15vh;
        width: 50vw !important;
    }
    .event-date h2 {
        font-size: 3vw;
    }
    .map-vr-container{
        margin-top: 25px;
    }
}

@media screen and (max-width: 600px) {
    .event-card {
        height: 15vh;
        width: 75vw !important;
    }
    .event-date h2{
        font-size: 3vw;
    }

    .event-details h2 {
        font-size: 3.5vw;
    }

    .event-details h4 {
        font-size: 0.6rem;
    }
}


@media (max-width: 379px) {
    .title {
        font-size: calc(3em - 1vw);
    }

}

@media( max-height: 915px)
{
    .title {
        font-size: calc(3em - 1vw);
    }
}

@media( max-height: 798px) {
    .title {
        font-size: calc(2.25em - 1vw);
    }
}