@layout MySanpeteWeb.Components.Layout.AlternateLayout
@page "/events"
@inject IConfiguration config

<div class="main-section">
    <div class="content">
        <div class="title">
            Find Yourself In Sanpete County.
        </div>
    </div>
    <img class="full-screen-image" src="Images/event.jpg" alt="Image">
    <div class="event-container row" style="max-width: 100vw; margin-left: auto; margin-right: auto;  background-color:#fcfcf8; justify-content: center; align-items:center;">

        <div class="map-vr-container row justify-content-center align-items-center">
            @if (MapsKey is not null)
            {
                <div class="map-container col-md-3 shadow" style="width:500px;height:500px; padding:0;">
                    <RazorClassLibrary.Pages.Map MapsKey="@MapsKey" />
                </div>
                <div class="vertical-rule vr"></div>
            }
            <div class="map-container col-md-3" style="width:500px;height:500px; padding:0;"></div>
            <div class="map-container col-md-3" style="width:500px;height:500px; padding:0;"></div>
            <div class="map-container col-md-3" style="width:500px;height:500px; padding:0;"></div>
        </div>
    </div>
</div>



@code {
    private string? MapsKey;

    protected override void OnInitialized()
    {
        MapsKey = config.GetValue<string>("MapKey") ?? throw new Exception("Map key is not in the secrets");
    }
}