@layout MySanpeteWeb.Components.Layout.AlternateLayout
@page "/events"
@using RazorClassLibrary.Services
@using Microsoft.JSInterop
@using System.Collections.Generic;
@using System.Text.Json;
@inject IJSRuntime JSRuntime
@inject IConfiguration config
@inject IOccasionService occasionService


<div class="main-section">
    <div class="content">
        <div class="title">
            Find Yourself In Sanpete County.
        </div>
    </div>
    <img class="full-screen-image" src="Images/event.jpg" alt="Image">
    <div class="event-container row" style="max-width: 100vw; margin-left: auto; margin-right: auto;  background-color:#fcfcf8; justify-content: center; align-items:center;">

        <div class="map-vr-container col-3 d-flex justify-content-center align-items-center ">
            @if (MapsKey is not null)
            {
                <div class="map-container p-0 col shadow">
                    <div id="mapDiv" class="mapp"></div>
                </div>
            }
        </div>

        <div class="lg-view col-1 d-flex justify-content-center align-items-center">
            <div class="vl"></div>
        </div>

        <div class="sm-view col-8 mt-10 d-flex justify-content-center align-items-center">
            <div class="hl"></div>
        </div>




        <div class="event-container d-grid col-lg-6 mt-10 mb-15 justify-content-center" style="overflow-y:scroll; max-height: 50vh;">
            <a class="event-card row shadow mb-10" href="/view-event/2">
                <div class="event-date col-3 d-flex align-items-center" style="background-image: url(Images/green_wave.svg); background-repeat: repeat-y;">
                    <div class="event-date">
                        <h2>MAY</h2>
                        <h2>24</h2>
                    </div>
                </div>
                <div class="event-details col-6 d-grid align-content-center" style="color: black">
                    <h2>Scandinavian Days</h2>
                    <h4>12PM - 8:30PM</h4>
                    <h4>
                        Come and join for Scandinavia Festivities!
                    </h4>
                </div>
                <div class="col-3 d-flex" style="padding-right: 0 !important; max-height:25vh;">
                    <img src="https://scandinavianfestival.org/wp-content/uploads/2023/03/p3.png" style="width: 100%; object-fit: cover; object-position: center;" />
                </div>
            </a>
            <a class="event-card row shadow mb-10" href="/view-event/2">
                <div class="event-date col-3 d-flex align-items-center" style="background-image: url(Images/green_wave.svg); background-repeat: repeat-y;">
                    <div class="event-date">
                        <h2>MAY</h2>
                        <h2>25</h2>
                    </div>
                </div>
                <div class="event-details col-6 d-grid align-content-center" style="color: black">
                    <h2>Nordic Fun Run</h2>
                    <h4>6:30AM</h4>
                    <h4>
                        Join us for our Festival Races! All ages are welcome!
                    </h4>
                </div>
                <div class="col-3 d-flex" style="padding-right: 0 !important; max-height:25vh;">
                    <img src="https://scandinavianfestival.org/wp-content/uploads/2023/03/race.png" style="width: 100%; object-fit: cover;" />
                </div>
            </a>
            <a class="event-card row shadow mb-10" href="/view-event/2">
                <div class="event-date col-3 d-flex align-items-center" style="background-image: url(Images/green_wave.svg); background-repeat: repeat-y;">
                    <div class="event-date">
                        <h2>MAY</h2>
                        <h2>25</h2>
                    </div>
                </div>
                <div class="event-details col-6 d-grid align-content-center" style="color: black">
                    <h2>Axe Throwing</h2>
                    <h4>10AM - 6PM</h4>
                    <h4>
                        Axe Throwing and Viking Games open to the public
                    </h4>
                </div>
                <div class="col-3 d-flex" style="padding-right: 0 !important; max-height:25vh;">
                    <img src="https://scandinavianfestival.org/wp-content/uploads/2022/11/cropped-slide6.png" style="width: 100%; object-fit: cover; object-position: center;" />
                </div>
            </a>
            <a class="event-card row shadow mb-10" href="/view-event/2">
                <div class="event-date col-3 d-flex align-items-center" style="background-image: url(Images/green_wave.svg); background-repeat: repeat-y;">
                    <div class="event-date">
                        <h2>MAY</h2>
                        <h2>24</h2>
                    </div>
                </div>
                <div class="event-details col-6 d-grid align-content-center" style="color: black">
                    <h2>Scandinavian Days</h2>
                    <h4>12PM - 8:30PM</h4>
                    <h4>
                        Come and join for Scandinavia Festivities!
                    </h4>
                </div>
                <div class="col-3 d-flex" style="padding-right: 0 !important; max-height:25vh;">
                    <img src="https://scandinavianfestival.org/wp-content/uploads/2023/03/p3.png" style="width: 100%; object-fit: cover; object-position: center;" />
                </div>
            </a>
        </div>
    </div>
</div>






@code {
    public string? MapsKey { get; set; }
    public string? jsonOccasions { get; set; }

    protected override void OnInitialized()
    {
        MapsKey = config.GetValue<string>("MapKey") ?? throw new Exception("Map key is not in the secrets");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var allOccasion = await occasionService.GetAllOcassions();
        jsonOccasions = JsonSerializer.Serialize(allOccasion);

        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initializeMap", MapsKey, jsonOccasions);
        }
    }


}




