@layout MySanpeteWeb.Components.Layout.AlternateLayout
@page "/"
@using MySanpeteWeb.Data
@using MySanpeteWeb.Telemetry
@implements IDisposable

<RazorClassLibrary.Pages.Home></RazorClassLibrary.Pages.Home>
@if(FeatureFlag.IsAvailable)
{
    <button @onclick="() => throw new Exception()">Throw an exception</button>
}

@code
{
    protected override void OnInitialized()
    {
        MySanpeteMetrics.UsersOnHomePageCount.Add(1);
    }
    public void Dispose()
    {
        MySanpeteMetrics.UsersOnHomePageCount.Add(-1);
    }
}