@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}

h1, h2 {
    font-family: Casual;
}

.business-logo {
    height: 100px !important;
    border-radius: 50px !important;
}

.vouchers-content {
    position: absolute;
    top: 200px;
    background-color: blue;
}
