@using RazorClassLibrary.Services
@inject IUserState userState

<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <li><a href="/">Local Events</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/businesses">Businesses</a></li>
            <AuthorizeView>
                <Authorized>
                    <li><a href="#">My Events</a></li>
                    <li><a href="/my-vouchers">My Vouchers</a></li>
                    <li>
                        <a @onclick="userState.Logout">Log out</a>
                    </li>

                </Authorized>
                <NotAuthorized>

                    <li>
                        <a @onclick="userState.Login">Log in</a>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>