@using RazorClassLibrary.Services
@inject IUserState userState

<nav class="navbar navbar-expand-lg navbar-dark">
<!-- Alt Layout -->
    <a class="navbar-brand" href="#">My Sanpete.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color:black!important"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content:right;">
        <ul class="navbar-nav float-right text-right pr-3">
            <li class="nav-item" style="text-align:right">
                <a class="nav-link" href="/Businesses" style="text-align:right">Businesses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blogs">Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/podcasts">Podcasts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vouchers">Vouchers</a>
            </li>
            @if (userState?.User?.Identity?.IsAuthenticated == false)
            {
                <li class="nav-item">
                    <a class="nav-link" @onclick="userState.Login">Log in</a>
                </li>
            }
            else
            {
                <li class="nav-item dropdown" style="margin-right: 40px;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgba(7,9,14,0.6); color: white !important;">
                        @if (userState!.User.IsInRole("Admin"))
                        {
                            <a class="dropdown-item" href="admin">Admin Controls</a>
                        }
                        <a class="dropdown-item" href="/Account">My Account</a>
                        <a class="dropdown-item" href="/user-vouchers">My Vouchers</a>
                        <a class="dropdown-item" href="/user-bundles">My Bundles</a>
                        <a class="dropdown-item" href="#">My Events</a>
                        <a class="dropdown-item" href="#" @onclick="userState.Logout">Log Out</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</nav>
