@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}


.navbar {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    z-index:1;
}

    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }

.content {
    padding: 16px;
    margin-top: 30px;
    height: 800px; /* Used to show scrolling */
}

.navbar-brand {
    font-family: Casual;
    font-size:1.5rem;
}


.nav-item {
    font-family: Casual;
    font-size:1.25rem;
    color:white!important;
}


.navbar-dark .navbar-nav .nav-link {
    color: white !important;
}

.navbar-dark .navbar-toggler {
    color: white !important;
    border-color: transparent;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;  63	74	73
    box-shadow:none;
}
