@inherits LayoutComponentBase

<div class="page">
    <main>
        <AlternateNavMenu></AlternateNavMenu>

        @Body

    </main>
    <footer class="footer">
        <div class="row">
            <div class="col"></div>

        </div>
    </footer>
</div>