@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}

h1 {
    font-family: Casual, sans-serif;
}

.my-footer {
    background-color: white;
    color: dimgray;
    box-shadow: 0px -5px 15px #dbd8d3;
}

    .my-footer a {
        color: dimgray;
        text-decoration: underline;
    }

        .my-footer a:hover {
            color: #97befc;
        }

.snake-emoji {
    display: none;
}

.codebras:hover * {
    display: inline;
}


@media only screen and (max-width: 578px) {
    .name {
        text-align: center;
    }

    .img-fluid {
        display: none;
    }
}