
<div class="my-footer p-0">
    <div class="row pt-5 w-100">
        <div class="col-md-3"></div>
        <div class="col-md-3 p-5">

            <div class="name d-grid justify-content-center align-items-center">
                <h1 style="text-align:center">
                    <span style="white-space: nowrap;">My Sanpete</span>
                </h1>
                <img class="img-fluid" src="/Images//My_Sanpete.png" style="max-height:250px;" />
            </div>
        </div>
        <div class="col-md-3 p-5">
            <a class="my-6" href="/vouchers">
                <p>Browse Vouchers and Coupons</p>
            </a>
            <a class="my-6" href="/Businesses">
                <p>Business Directory</p>
            </a>
            <a class="my-6" href="/blogs">
                <p>Blogs</p>
            </a>
            <a class="my-6" href="/podcasts">
                <p>Podcasts</p>
            </a>
            <a class="my-6" href="/events">
                <p>Local Events</p>
            </a>
            <a href="">
                <p>Collaborate with MySanpete</p>
            </a>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <center class="mt-5 p-2 m-0">
        <p class="p-0"><small>&copy; MySanpete 2024<br />Created by <span class="codebras">The Codebras <span class="snake-emoji">&#128013;</span></span> at Snow College</small></p>
    </center>

</div>


