@font-face {
    font-family: 'Nelphim';
    src: url('Fonts/Nephilm.otf') format('opentype');
}

@font-face {
    font-family: 'Casual';
    src: url('Fonts/Casual-Regular.ttf') format('truetype');
}


.navbar {
    background-color: transparent;
    overflow: hidden;
    width: 100%;
/*    position: absolute;*/
    top: 0;
    z-index: 1;
}

    .navbar a {
        float: left;
        display: block;
        color: #3f4a49;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }

.content {
    padding: 16px;
    margin-top: 30px;
    height: 800px; /* Used to show scrolling */
}

.navbar-brand {
    font-family: Casual;
    font-size: 1.5rem;
}

    .navbar-brand:hover {
        color: #3f4a49;
    }

.nav-item {
    font-family: Casual;
    font-size: 1.25rem;
    color: #3f4a49 !important;
}


.navbar-dark .navbar-nav .nav-link {
    color: #3f4a49 !important;
    cursor: pointer !important;
}

.navbar-dark .navbar-toggler {
    color: #3f4a49 !important;
    border-color: transparent;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(63, 74, 73, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e");
}

.nav-link {
    color: #fc039d !important;
}

